@font-face{
	font-family: 'Raleway';
    src: url("fonts/Raleway/Raleway-Regular.ttf");
}
.wrapper {
    width: 1140px;
    margin: 0 auto;
    text-align: left;
    }
					/*ШАПКА*/
 header{
	background-image: url('img/header.jpg');
	background-repeat: no-repeat !important;
	width:100%;
	height:830px;
	background-position-x:center;
	top: 0;

}
.blur{
	width: 100%;
	height: 100%;
	backdrop-filter:brightness(45%);
	box-shadow: 0 0 13px #000;
	position: absolute;
	display: flex;
	align-items: center;
}

.header_menu{
	display: flex;
	justify-content:space-evenly;
	backdrop-filter: blur(2px) brightness(30%);
	height: 90px;
	align-items: center;
}

.header_logo{
	background-image: none;
	width: 200px;
}
img.logo_img{
	width: 115px;
	height: 70px;
	filter: hue-rotate(15deg) brightness(40);
}

ul{
	display: inline-flex;
	align-items: center;

}

li{
	list-style-type: none;
	font-size: 18px;
	color: #ffff;
	margin:25px;

}

.headline{
	z-index:55;
}

h1, h2{
	color: #ffff;
	margin-bottom: 25px !important;
}

.headline_item{
 border-left: 7px solid #357faa !important;
 padding-left: 26px;

}
.headline_item_button{
margin-bottom: 25px;
}

.btn-primary{
	background-color: #357faa !important;
	border-color: #357faa !important;

}

.btn-primary::hover{
	background-color: #367faa !important;
	border-color: #357faa !important;

}

									/* 	НАПРАВЛЕНИЕ РАБОТЫ*/

h3{
	border-left: 7px solid #357faa !important;
	margin-top:120px !important;
  padding-left: 26px;
  font-size: 35px !important;
}

.sectors_item .fa-atom-alt , .fa-microscope , .fa-flask-potion , .fa-temperature-high , .fa-starship-freighter , .fa-chart-network , .fa-chart-scatter{
	color: #2b5fff;
	font-size: 50px;
}
.sectors_item .fa-atom-alt:after{
	color:blue !important;
}

.sectors_item , .sectors_item_self {
	width: 300px;
	text-align: center;
}

.industrials_sectors{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-row-gap: 50px;
	margin-bottom: 100px;
}
.sectors_item_self{
	grid-column-start: 2;
}

h5{
	color: #125bb9;
}

						/*ОБОРУДОВАНИЕ*/

.equipment{
	height: 800px;
}

#MiscellaneousEquipment{
	height: 500px;
	background-color:#d7d6ef;
	text-align: center;
  display: grid;
  align-items: center;
  overflow: hidden;
}
.carousel-item .fa-microscope{
		font-size: 150px;
	text-align:center;
	color: #2b5fff;


}
.carousel-item .fa-chart-network{
		font-size: 150px;
	text-align:center;
	color: #2b5fff;

}
.carousel-item .fas.fa-flask-potion{
		font-size: 150px;
	text-align:center;
	color: #2b5fff;

}
.fa-atom-alt{
	font-size: 150px;
	text-align:center;
	color: #2b5fff;
}

.carousel-inner {
	height: 500px;
  align-items: center;
  display: flex;
}

.carousel-item img.d-block.w-100 {
  object-fit: cover;
  object-position: center;
  height: 500px;
}

.sectors_item.active .fa-atom-alt {
	font-size: 150px;
}
h6{
	color:#d62e2e;
	font-weight: bold !important;

}

			/*ГАЗОВЫЕ ТРУБЫ*/

 .pipes{
 	background: url("img/2X1.jpg") #000;
 	background-repeat: no-repeat;
 	width: 100%;
 	height: 600px;
 	background-position-x:center;
 	background-attachment:fixed;
 	margin-bottom: 120px;
 	overflow: hidden !important;
 }

 .shadow{
 	backdrop-filter:brightness(40%);
 	height:100%;
 	display: flex;
 	align-items: center;
 	align-content: center;
 	justify-content: center;
 }

 .headline_item h4{
 	color: skyblue;
 	font-size: 30px;
 	text-align: center;
 	
 }

 .headline_item span{
 	color:whitesmoke;
 	font-size: 20px;
 	align-items: center;

 }

 .headline_item{
 	width: 80%;
 	background-attachment: fixed;

 } 



